.u-section-1 .u-sheet-1 {
  min-height: 812px;
}

.u-section-1 .u-shape-1 {
  width: 432px;
  height: 557px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(#ccd3db, rgba(255,108,131,0.82));
  margin: 38px 0 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 780px;
  height: 673px;
  background-image: linear-gradient(#db545a, #f1b5b8);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -588px auto 0 -18px;
}

.u-section-1 .u-image-1 {
  width: 547px;
  height: 720px;
  object-position: 21.06% 50%;
  --animation-custom_in-scale: 1;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: -588px 48px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 545px;
  min-height: 557px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: -738px auto 60px 48px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 35px 30px 0;
}

.u-section-1 .u-text-1 {
  letter-spacing: 1px;
  font-size: 3.4375rem;
  font-weight: 700;
  font-family: Alata;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 28px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 38px auto 0 0;
  padding: 10px 43px 10px 41px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 973px;
  }

  .u-section-1 .u-shape-2 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-2 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 711px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: -729px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .u-shape-1 {
    height: 464px;
    margin-top: -12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-2 {
    height: 531px;
    margin-top: -451px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 448px;
    width: 340px;
    margin-top: -118px;
    margin-right: -85px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -810px;
    margin-right: -25px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-left: 59px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 435px;
}

.u-section-2 .u-group-1 {
  width: 351px;
  min-height: 435px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  margin: 28px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: linear-gradient(#db545a, #db545a);
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  margin: 20px auto 0 0;
  padding: 10px 43px 10px 41px;
}

.u-section-2 .u-list-1 {
  width: 752px;
  grid-template-rows: repeat(3, auto);
  margin: -336px 0 74px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 262px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-text-3 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-text-5 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-2 .u-text-7 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-2 .u-group-1 {
    width: 300px;
    min-height: 481px;
  }

  .u-section-2 .u-list-1 {
    width: 640px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 294px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-2 .u-group-1 {
    min-height: 328px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 241px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 55px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
    margin-bottom: -64px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 397px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 979px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 55px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-3 {
  min-height: 50vw;
}

.u-section-3 .u-shape-1 {
  background-image: none;
  height: 499px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: -426px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 812px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("images/fggf.jpg");
  background-position: 88.88% 100%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1.875rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 812px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-3 .u-image-2 {
  width: 240px;
  height: 240px;
  background-image: url("images/uyuy.jpg");
  background-position: 50% 50%;
  margin: 20px 15px 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 812px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 240px;
  height: 240px;
  background-image: url("images/hjhjh.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1.875rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 887px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 670px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 670px;
  }

  .u-section-3 .u-image-2 {
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 670px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 929px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    width: 180px;
    height: 180px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-2 {
    width: 180px;
    height: 180px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-3 {
    width: 180px;
    height: 180px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1807px;
  }

  .u-section-3 .u-shape-1 {
    height: 1064px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -990px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 588px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 250px;
    height: 250px;
    margin-right: 270px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 542px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    width: 250px;
    height: 250px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 543px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    width: 250px;
    height: 250px;
    margin-right: 270px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1948px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 1px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 624px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: -48px;
    margin-right: auto;
    margin-left: 33px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 35px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 624px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 194px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 33px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -608px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 624px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: -75px;
    margin-right: auto;
    margin-left: 23px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 60px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 33px;
  }
} .u-section-4 {
  min-height: 702px;
  background-image: url("images/bg.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 702px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 5px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 221px 50px 0 0;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  margin: 20px 25px 0;
}

.u-section-4 .u-btn-1 {
  background-image: linear-gradient(#db545a, #db545a);
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  margin: 40px auto 0;
  padding: 10px 43px 10px 41px;
}

.u-section-4 .u-image-1 {
  min-height: 702px;
  background-image: url("images/dad84330c8194d3398b76962a78ea7ea.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 456px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 579px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 579px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 320px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 443px;
    background-position: 26.97% 50%;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 547px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 50px;
  }

  .u-section-4 .u-image-1 {
    min-height: 570px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 703px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-top: 57px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 274px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -16px;
    margin-right: 55px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 41px;
    margin-right: 55px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 34px;
    margin-left: 77px;
  }

  .u-section-4 .u-image-1 {
    min-height: 372px;
  }
} .u-section-5 {
  min-height: 1394px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 100px calc(((100% - 1140px) / 2) + 284px) 0 calc(((100% - 1140px) / 2));
}

.u-section-5 .u-shape-1 {
  background-image: linear-gradient(#f1b5b8, rgba(255,108,131,0.82));
  height: 494px;
  margin-top: 380px;
  margin-bottom: 0;
}

.u-section-5 .u-image-1 {
  width: 721px;
  height: 721px;
  object-position: 2.6% 50%;
  background-position: 50% 50%;
  background-image: url("images/fgfgfg4.jpg");
  margin: -815px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-5 .u-list-1 {
  width: 728px;
  margin: -305px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 505px;
  grid-gap: 20px;
}

.u-section-5 .u-container-layout-1 {
  padding: 40px 20px 30px;
}

.u-section-5 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-5 .u-text-3 {
  line-height: 2;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 40px 20px 30px;
}

.u-section-5 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-5 .u-text-5 {
  line-height: 2;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 40px 20px 30px;
}

.u-section-5 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-5 .u-text-7 {
  line-height: 2;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 40px 20px 30px;
}

.u-section-5 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-5 .u-text-9 {
  line-height: 2;
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-top: 70px;
    margin-right: calc(((100% - 940px) / 2) + 84px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-shape-1 {
    height: 557px;
  }

  .u-section-5 .u-image-1 {
    width: 659px;
    height: 659px;
    margin-top: -878px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-list-1 {
    width: 599px;
    margin-top: -152px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-repeater-1 {
    min-height: 533px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1550px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 76px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-shape-1 {
    height: 611px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -932px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-list-1 {
    width: 543px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-repeater-1 {
    min-height: 578px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1849px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.75rem;
    margin-top: 71px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-shape-1 {
    height: 781px;
    margin-top: 336px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-top: -1058px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-list-1 {
    width: 454px;
    margin-top: -96px;
    margin-right: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 910px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1694px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 62px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-shape-1 {
    height: 1107px;
    margin-top: 191px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -1240px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-list-1 {
    width: 340px;
    margin-top: -36px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 1038px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 756px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 63px auto 60px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 315px;
  background-image: linear-gradient(rgba(255,108,131,0.82), #f1b5b8);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 315px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.125rem;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 20px auto 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 713px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  height: 413px;
  width: 413px;
  background-image: url("images/fgfg.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 260px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 20px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 20px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 260px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 588px;
  }

  .u-section-6 .u-image-1 {
    height: 276px;
    width: 276px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    height: 202px;
    width: 202px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1287px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 347px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 490px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 331px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-image-1 {
    height: 291px;
    width: 291px;
    margin-top: 90px;
    margin-bottom: -70px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 707px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 587px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-7 .u-text-1 {
  margin-top: 0;
  font-size: 1.25rem;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 587px;
  background-image: linear-gradient(#db545a, #f1b5b8);
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-icon-1 {
  width: 64px;
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 3.75rem;
  font-family: Alata;
  text-transform: none;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 39px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 484px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 484px;
  }

  .u-section-7 .u-text-2 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.875rem;
  }
}